<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <form id="initform" novalidate>
                {% csrf_token %}
                {% for field in init_obj %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endfor %}
                <p class="wait pull-right" style="margin-top: 10px"></p>
                <input type="button" class="btn btn-success pull-right push" value="提交">
            </form>
        </div>
    </div>
</div>

<script>
    $('select').select2();
    $('.push').click(function () {
        var url = "{% url 'initadd' %}";
        Net.post({
            url:url,
            data:$("#initform").serialize(),
            go:"{% url 'init' %}"
        })
    })
</script>