{% extends 'base.html' %}

{% block content %}
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <div>
                            <h3 class="box-title">我的客户跟进记录</h3>
                        </div>
                        <div>
                            <br>
                            <form action="" method="get" class="pull-right" style="width: 400px;display: inline-block">
                                <select name="condition" id="" class="form-control"
                                        style="width: 110px;display: inline-block">
                                    <option value="customer__name__contains">客户名</option>
                                </select>
                                <input type="text" name="wd" class="form-control"
                                       style="width: 200px;display: inline-block">
                                <button class="btn btn-default">搜索</button>
                            </form>
                            <a href="{% url 'addfollow' %}" style="margin-left:10px;"
                               class="btn btn-primary pull-left">添加</a>
                            <form action="" method="post">
                                {% csrf_token %}
                                <select name="action" id="" class="form-control"
                                        style="width: 200px;display: inline-block;margin-left: 5px;">
                                    <option value="batch_delete">批量删除</option>
                                    <option value="batch_update">批量更新状态</option>
                                </select>
                                <button class="btn btn-danger" style="vertical-align: 1px;">执行</button>
                                <div class="box-body">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" id="choose"></th>
                                            <th>序号</th>
                                            <th>客户名</th>
                                            <th>跟进内容</th>
                                            <th>跟进状态</th>
                                            <th>跟进人</th>
                                            <th>跟进日期</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for followrecord in my_followrecord %}
                                            <tr>
                                                <td><input type="checkbox" name="selected_id"
                                                           value="{{ followrecord.pk }}"></td>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ followrecord.customer }}</td>
                                                <td>{{ followrecord.note }}</td>
                                                <td>{{ followrecord.get_status_display }}</td>
                                                <td>{{ followrecord.consultant }}</td>
                                                <td>{{ followrecord.date|date:'Y-m-d' }}</td>
                                                <td><a href="{% url 'editfollow' followrecord.pk %}"
                                                       class="btn btn-warning btn-sm">编辑</a> <a
                                                        href="{% url 'delfollow' followrecord.pk %}"
                                                        class="btn btn-danger btn-sm">删除</a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{ ret_html|safe }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <script>
        $('#choose').click(function () {
            var status = $(this).prop('checked');
            $('[name=selected_id]').prop('checked',status);
        })
    </script>
{% endblock %}